.label {
  /* padding: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.input {
  /* margin-right: auto;
  margin-left: auto;
  margin-top: 15px; */
}
.filter {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}
